<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TableBooking - Cancel reservation</title>
</head>
<body>
        <h1>Here you can cancel an existing reservation!</h1>
        <p>In order to cancel your reservation, please specify you resrvation ID recived after booking a table:</p>
        <form>
                <label>Reservation ID: </label>
                <input type="number" name="rid" min="1">
                <br>
                <input type="submit" value="Cancel resrvation">
        </form>
        <a href="/">Home</a>
</body>
</html>
